<% if @slot  %>
    <% if !@slot.empty  %>
        <h2><%= @slot.item.name %></h2>
        <img class="item-img" src="<%= @slot.item.picture_url %>"/>
        <p><%= @slot.item.description %></p>

        <% unless @slot.item.more_info_url.blank? %>
            <a href="<%= @slot.item.more_info_url %>" target="_blank">More Info...</a>
        <% end %>

        <h3><%= number_to_currency @slot.item.price %></h3>

        <div id="buy-form">
          <%= form_for @purchase do |f| %>
              <%= f.hidden_field :item_id %>
              <%= f.hidden_field :slot_id %>
              <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= ENV['STRIPE_PUBLIC_API_KEY'] %>"
              data-image="<%= image_url 'logo.png' %>"
              data-name="<%= @slot.item.name %>"
              data-description="Vendotron Slot <%= @slot.id %>"
              data-amount="<%= (@slot.item.price * 100).round %>"
              data-locale="auto"
              data-label="Buy It Now"
              data-bitcoin="true">
              </script>
          <% end %>
        </div>

    <% else  %>
        <div class="alert alert-warning"><em>Slot <strong><%= @slot.id %></strong> is currently empty</em></div>
    <% end  %>
<% else  %>
    <p>Please choose a slot column and row from above to see the details about the item in that slot.</p>
<% end  %>