<script type="text/javascript">
  column = '<%= @slot_column %>';
  row = '<%= @slot_row %>';
</script>

<div class="row">
  <div class="col-sm-5 center-block col-centered text-center">

    <h3>The Item I Want Is In Slot</h3>
    <form id="slot-form" class="form-horizontal" ic-trigger-on="change" ic-target="#slot-detail" ic-push-url="true" ic-src="/slots">

      <%= select_tag 'column', options_for_select(Carousel::COLUMNS, @slot_column), :include_blank => true,
                     id: 'column-input', class: 'selectpicker slot-select', title: "COL?",
                     data: {style: 'btn-primary'} %>

      <%= select_tag 'row', options_for_select(Carousel::ROWS, @slot_row), :include_blank => true,
                     id: 'row-input', class: 'selectpicker slot-select', title: "ROW?",
                     data: {style: 'btn-primary'} %>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 center-block col-centered text-center">
    <div id="slot-detail">
       <%= render :partial => 'slot_detail' %>
    </div>
  </div>
</div>
